.about-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-navbar {
  border-color: #000000;
  border-width: 1px;
  background-color: #ffffff;
  border-bottom-width: 3px;
}
.about-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
  margin-right: 14px;
}
.about-text {
  color: #000000;
  font-family: Titillium Web;
}
.about-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-home {
  color: rgb(162, 47, 162);
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.about-about {
  color: #a22fa2;
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}
.about-test {
  color: rgb(162, 47, 162);
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.about-contact {
  color: rgb(162, 47, 162);
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}
.about-login {
  color: rgb(249, 249, 249);
  width: 130px;
  height: 42px;
  transition: 0.3s;
  border-color: #611b7f;
  background-color: rgb(23, 144, 96);
}
.about-login:hover {
  background-color: #58236b;
}
.about-hero {
  color: var(--dl-color-scheme-green100);
  width: 100%;
  height: 769px;
  align-items: center;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #ffffff;
}
.about-max-width1 {
  height: 545px;
  align-items: center;
}
.about-content-left {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.about-content-right {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 13px;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.about-content-center {
  display: flex;
  /* flex: 0 0 auto; */
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.about-advantages {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  flex-direction: row;
}
.about-advantage {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}
.about-advantage img {
  max-width: 175px;
  max-height: 175px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  filter: invert(12%) sepia(50%) saturate(5340%) hue-rotate(275deg) brightness(90%) contrast(93%);
  /* filter: invert(48%) sepia(17%) saturate(1601%) hue-rotate(104deg) brightness(90%) contrast(101%); */
}
.about-advantage span {
  width: 100%;
  text-align: center;
  font: bold 24px sans-serif;
  /* color:rgb(88, 28, 109); */
  color:rgb(23, 144, 96);
  margin-left: auto;
}
.about-title {
  color: #179060;
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-description {
  color: rgb(88, 28, 109);
  font-size: 18px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.about-container1 {
  flex: 0 0 auto;
  width: 285px;
  display: flex;
  position: relative;
  align-self: flex-start;
  transition: 0.3s;
  flex-direction: row;
  justify-content: center;
}

.about-signup {
  color: var(--dl-color-scheme-green100);
  transition: 0.3s;
  border-color: var(--dl-color-scheme-green100);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
.about-signup:hover {
  color: var(--dl-color-scheme-white);
  background-color: #611b7f;
}
.about-login1 {
  color: var(--dl-color-scheme-green100);
  transition: 0.3s;
  border-color: var(--dl-color-scheme-green100);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
.about-login1:hover {
  color: #ffffff;
  background-color: #611b7f;
}
.about-hero-image-right {
  flex: 1;
  /* width: 589px;
  height: 559px; */
  width: 100%;
  height: auto;
  max-width: 550px;
  min-height: 500px;
  object-fit: cover;
  border-radius: 48px;
}
.about-hero-image-left {
  flex: 1;
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 550px;
  object-fit: cover;
  border-radius: 48px;
}

.about-banner-width {
  position: relative;
  width: 100vw;
  height: 60vh;
  display: grid;
  place-items: center;
  color: white;
  position: relative;
}
.about-banner-width::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/static/img/lab.jpg');
  filter: blur(0.5px) brightness(0.6);
}
.about-banner-text {
  position: relative;
  font: bold 42px sans-serif;
}
.module {
  width: 300px;
  height: 300px;
  display: grid;
  place-items: center;
  color: white;
  position: relative;
}
.module::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('/static/img/lab.jpg');
  background-size: cover;
  filter: grayscale(100%);
}
.module-inside {
  position: relative;
  font: bold 42px sans-serif;
}
@media(max-width: 1600px) {
  .about-description {
    color: rgb(88, 28, 109);
  }
}
@media(max-width: 991px) {
  .about-banner-width {
    width: 100vw;
    height: 20vh;
  }
  .about-content-left {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .about-content-right {
    width: 50%;
    margin-left: var(--dl-space-space-unit);
  }
  .about-hero-image-right {
    width: 440px;
    height: 473px;
    margin-bottom: 0px;
  }
  .about-hero-image-left {
    width: 440px;
    height: 473px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .about-links {
    display: none;
  }
  .about-max-width1 {
    flex-direction: column-reverse;
  }
  .about-content-left {
    width: 100%;
    margin-right: 0px;
  }
  .about-content-right {
    width: 100%;
    margin-left: 0px;
  }
  .about-hero-image-right {
    margin-right: 0px;
  }
  .about-hero-image-left {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .about-hero-image-right {
    height: 453px;
  }
  .about-hero-image-left {
    height: 453px;
  }
}
