.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.home-navbar {
  border-color: #000000;
  border-width: 1px;
  background-color: #ffffff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
  margin-right: 14px;
}
.home-text {
  color: rgb(0, 0, 0);
  align-self: center;
  font-family: Titillium Web;
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-home {
  color: rgb(162, 47, 162);
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-about {
  color: #a22fa2;
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-test {
  color: rgb(162, 47, 162);
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-contact {
  color: rgb(162, 47, 162);
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-login {
  color: rgb(249, 249, 249);
  width: 130px;
  height: 42px;
  transition: 0.3s;
  font-family: Titillium Web;
  border-color: #611b7f;
  background-color: rgb(23, 144, 96);
}
.home-login:hover {
  background-color: #58236b;
}
.home-max-width1 {
  width: 1421px;
  height: 616px;
  align-self: center;
  align-items: center;
}
.home-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: 13px;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-title {
  color: #179060;
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-description {
  color: rgb(88, 28, 109);
  font-size: 18px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container1 {
  flex: 0 0 auto;
  width: 285px;
  display: flex;
  position: relative;
  align-self: flex-start;
  transition: 0.3s;
  flex-direction: row;
  justify-content: center;
}

.home-signup {
  color: var(--dl-color-scheme-green100);
  transition: 0.3s;
  border-color: var(--dl-color-scheme-green100);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
.home-signup:hover {
  color: var(--dl-color-scheme-white);
  background-color: #611b7f;
}
.home-login1 {
  color: var(--dl-color-scheme-green100);
  transition: 0.3s;
  border-color: var(--dl-color-scheme-green100);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
.home-login1:hover {
  color: #ffffff;
  background-color: #611b7f;
}
.home-hero-image {
  flex: 1;
  width: 589px;
  height: 559px;
  max-width: 550px;
  object-fit: cover;
  border-radius: 0 0 48px 48px;
}
.home-footer {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding: var(--dl-space-space-twounits) 13px;
  justify-content: center;
}
.home-image1 {
  top: 0px;
  left: 0px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.home-text1 {
  top: 33px;
  left: 21px;
  color: rgb(0, 0, 0);
  margin: auto;
  position: fixed;
  font-size: 10px;
  font-family: Titillium Web;
}
.home-icon {
  top: 0px;
  right: 0px;
  width: 20px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
}
.home-text2 {
  color: rgb(0, 0, 0);
  font-size: 10px;
  align-self: flex-start;
  font-family: Titillium Web;
}
