.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  border-color: #000000;
  border-width: 1px;
  background-color: #ffffff;
  border-bottom-width: 3px;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
  margin-right: 14px;
}
.home-text {
  color: #000000;
  font-family: Titillium Web;
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-home {
  color: rgb(162, 47, 162);
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-about {
  color: #a22fa2;
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-test {
  color: rgb(162, 47, 162);
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-contact {
  color: rgb(162, 47, 162);
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-login {
  color: rgb(249, 249, 249);
  width: 130px;
  height: 42px;
  transition: 0.3s;
  border-color: #611b7f;
  background-color: rgb(23, 144, 96);
}
.home-login:hover {
  background-color: #58236b;
}
.home-hero {
  color: var(--dl-color-scheme-green100);
  width: 100%;
  height: 769px;
  align-items: center;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #ffffff;
}
.home-max-width1 {
  height: 545px;
  align-items: center;
}
.home-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: 13px;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-title {
  color: #179060;
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-description {
  color: rgb(88, 28, 109);
  font-size: 18px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container1 {
  flex: 0 0 auto;
  width: 285px;
  display: flex;
  position: relative;
  align-self: flex-start;
  transition: 0.3s;
  flex-direction: row;
  justify-content: center;
}

.home-signup {
  color: var(--dl-color-scheme-green100);
  transition: 0.3s;
  border-color: var(--dl-color-scheme-green100);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
.home-signup:hover {
  color: var(--dl-color-scheme-white);
  background-color: #611b7f;
}
.home-login1 {
  color: var(--dl-color-scheme-green100);
  transition: 0.3s;
  border-color: var(--dl-color-scheme-green100);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
.home-login1:hover {
  color: #ffffff;
  background-color: #611b7f;
}
.home-hero-image {
  flex: 1;
  width: 589px;
  height: 559px;
  max-width: 550px;
  object-fit: cover;
  border-radius: 0 0 48px 48px;
}
@media(max-width: 1600px) {
  .home-description {
    color: rgb(88, 28, 109);
  }
}
@media(max-width: 991px) {
  .home-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .home-hero-image {
    width: 440px;
    height: 473px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .home-links {
    display: none;
  }
  .home-max-width1 {
    flex-direction: column-reverse;
  }
  .home-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-hero-image {
    margin-right: 0px;
  }
}
@media(max-width: 479px) {
  .home-hero-image {
    height: 453px;
  }
}
