
.profile-container {
  width: 100%;
  height: 2660px;
  display: flex;
  position: relative;
  background-size: cover;
  background: -webkit-linear-gradient(left, #25c481, #c77ee0);
  background: linear-gradient(to right, #25c481, #c77ee0);
}

.profile-icon {
  top: 40px;
  fill: #6f1592;
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  margin: auto;
  position: absolute;
  align-self: stretch;
  border-radius: 50%;
}
.profile-title {
  top: 200px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 52px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.2;
}
.profile-icon02 {
  top: 275px;
  left: 607px;
  width: 24px;
  height: 24px;
  margin: auto;
  position: absolute;
}
.profile-icon07 {
  top: 305px;
  left: 607px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.profile-icon09 {
  top: 335px;
  left: 607px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.profile-text {
  top: 275px;
  left: 640px;
  position: absolute;
  color: #6f1592;
}
.profile-text1 {
  top: 305px;
  left: 640px;
  position: absolute;
  color: #6f1592;
}
.profile-text2 {
  top: 335px;
  left: 640px;
  position: absolute;
  color: #6f1592;
}
