{%  extends 'homemain.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <html>
    <head>
     <section>
  <!--for demo wrap-->
      <link href="{% static 'css/catalog.css' %}"rel="stylesheet" />
  <h1>Laboratory Blood Tests</h1>

  <div class="tbl-header">
      <link href="{% static 'css/catalog.css' %}"rel="stylesheet" />
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Test Name</th>
          <th>Description</th>
          <th>Requirements</th>
          <th>Price</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
         {% for i in tests %}
        <tr>
                <td>{{i.name }}</td>
                <td>{{i.description}}</td>
                <td>{{i.requirements}}</td>
                <td>{{i.price}}</td>

            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
     </section>
    </head>
</html>
{% endblock %}

